
h1 {
  text-align: center;
  font-family: 'Merriweather', serif;
}

h3 {
  font-family: 'Merriweather', serif;
}

p {
  font-size: 1.2rem;
}

/* navbar */
.navbar {
  padding: 0 0 10rem;
}

.navbar-brand {
  font-size: 6rem;
}

.nav-item {
  padding: 0 18px;
  font-family: 'Lobster Two', cursive;
}

.nav-link {
  font-size: 1.2rem;
}

/* FIND US */

.heading {
  margin: 50px 0;
  font-size: 2.8rem;

}

.center {
  text-align: center;
}


.hori {
  border: dotted #777 6px;
  border-top: none;
  width: 7%;
  margin: 100px auto;
}
.maill {
  margin-bottom: 100px;
  margin-top: -30px;
  color: black;
  font-size: 2rem;
}

.par {
  margin-top: 50px;
  color: black;

}

.phone {
  margin-bottom: 30px;
}









/* footer */
.footer-links {
  color: #007bff;
}

.lower-container {
  background-color: #343a40;
  color: white;
  margin-top: 50px;
  padding: 7% 10%;
}

.hhe {
  text-align: left;
  margin-bottom: 2.3rem;
  font-family: 'Pragati Narrow', sans-serif;
  font-weight: bolder;
}

.text-j1 {
  margin-top: 20px;
}

.social-link {
  line-height: 1.5rem;
}

.para {
  margin: 50px;
  text-align: center;
}
